*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; /*makes 1rem = 10px*/
}

body {
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
  padding: 3rem;
  color: white;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: normal;
  padding-bottom: 2rem;
}

.time {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .1rem;
}

.timeLbl {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: rgb(92, 91, 91);
}

.endTime {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: rgb(92, 91, 91);
}

.btns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 2rem;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  background: none; 
  border: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  cursor: pointer;
  font-weight: 300;
  color: white;
  
  
}

.btn:hover {
  font-weight: 600;
}

.btn:hover i {
  margin-right: 2rem;
}

.btn:hover .pausePlay {
  margin-right: .4rem;
  transform: scale(1.2);
  
}

.btn:focus {
  outline: none;
}

  i {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 2.1rem;
  vertical-align: text-top;
  margin-top: -4px;
  transition: all 0.3s;
}

.pausePlay {
margin-right: .4rem;
}

.secLbl {
  padding-left: 1.1rem;
}

.pause-clicked {
  color: red;
  transform: scale(1.2);
}

.play-clicked {
  transform: scale(1.2);
}

.button-clicked {
  font-weight: 600;
}